{
    "setup": {
        "notifiers": {
            "growl": {
                "host": "127.0.0.1",
                "port": "9887",
                "password": "",
                "enabled": true
            },
            "dbus": {
                "enabled": false
            },
            "stdout": {
                "enabled": true
            },
            "libnotify": {
                "enabled": true
            },
            "file": {
                "enabled": true,
                "path": "~/workspace/testy/"
            }
        },
        "parallel": "SharedMemory",
        "sleep": 5
    },
    "projects": {
        "testy": {
            "path": "~/workspace/testy",
            "test": "phpunit $file {Testy|Tests} {.php|Test.php}", 
            "test_dir": "~/workspace/testy",
            "syntax": "php -l $file",
            "find": "*.php",
            "repeat": true
        },
        "testy-jshint": {
            "path": "~/workspace/testy", 
            "test": "jshint $file --config hint-ci.json",
            "find": "*.js"
        },
        "testy-csslint": {
            "path": "~/workspace/testy", 
            "test": "node csslint.js --quiet $file",
            "find": "*.css"
        }
    }
}